{%- style -%}
:root {
  --brown: #804d15;
  --white: #ffffff;
  --black:#282828;
  --padding-sections:#282828;
  --text-shadow:#bcbcbc;
  --button-main:black;
  --font-main: "Chalet Comprime";
  --font-secondary:"Raleway";
  --font-size-big:6vh;
  --font-size-medium:4.2vh;
  --font-size-medium-small:3.5vh;

}


h1{
  font-family: var(--font-main);
  font-size: var(--font-size-big);
  margin:0px;
  padding:0px;
  line-height: normal;
}
h2{
  font-family: var(--font-main);
  font-size: var(--font-size-medium);
  margin:0px;
  padding:0px;
  line-height: normal;
}
h3{
  font-family: var(--font-main);
  font-size: var(--font-size-medium-small);
  margin:0px;
  padding:0px;
  line-height: normal;
}
p{
  font-family:var(--font-secondary);
  margin:0px;
  padding:0px;
  line-height: normal;
}
.button-main{
  background-color:var(--brown);
  padding:1.6rem;
  border-radius:5px;
  color: var(--white);
  min-width:20rem; 
  font-size: 16px;
  border:none;  
}

{% comment %} ///////////////////HERO SECTION///////////////////// {% endcomment %}
.master-section-container-hero{
  height:calc(100vh - 168.688px);
  width:100vw;
  border:20px solid var(--padding-sections);
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  justify-content:center;
}
{% comment %} ///////////////////SECOND SECTION///////////////////// {% endcomment %}
.master-section-container{
  height:100vh;
  width:100vw;
  border:20px solid var(--padding-sections);
}
.master-title-subtitle-button-container{
  height:20vh;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  padding:20px;

}
.master-title-subtitle-container{
  width:50%;
}
.master-content-container{


  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Enables momentum-based scrolling on iOS devices */
  scroll-snap-type: x mandatory; 


  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;

  background-color:var(--padding-sections);
  width:100%;
  height: calc(100vh - 20vh - 40px );
}
.content-box-triple{
  height:100%;
  max-width:33.33%;
  min-width:400px;
  border:2px solid var(--padding-sections);

  padding:0px;


  display:flex;
  flex-direction:column;
  justify-content:space-between;
  text-align:center;
  align-items:center;
  scroll-snap-align: start; 
}
.master-image{
  width:100%;
  height:60%;
  object-fit:cover;
}
.text-content-container{
  height:40%;
  background-color:black;
  padding:20px;

  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  align-items:center;
}
.arrow-right-container{
  background-color:purple;
  width:100%;

  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items:center;

  padding-right:1rem; 
  height:10%;
  
}


@media (max-width: 1100px) {
  .master-content-container{
    background-color:var(--padding-sections);
    height: calc(100vh - 30vh - 40px );

  }
  .master-title-subtitle-button-container{
  height:20vh;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  padding:0px;
  background-color:black;

}

  .master-image{
    height:50%; 
  }

  .text-content-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align:start;
    height:38%;

  }
  .content-box-triple{
    height:100%;
    min-width:calc(100vw - 40px);
    padding:0px;
    justify-content:flex-start;

  }
  .button-desktop{
    display:none;
  }
  .master-title-subtitle-container{
    text-align:center;
    width:100%;
  }
  .master-container-button-mobile{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    align-items:center;
    height:10vh;
    border:20px solid black;
    background-color:black;

  }

}
@media (min-width: 1100px) {

  .button-mobile{
    display:none;
  }
  .arrow-right-container{
display:none;
  
}

}
{%- endstyle -%}



<section class="master-section-container-hero">
  <h1>UNSERE KAFFEE-ABOS</h1>
  <p>Mit unseren saisonalen Abo-Kaffees kannst du mühelos die besten Single Origin Kaffees entdecken.</p>
  <br>
  <button class="button-main"> ABOS ERKUNDEN </button>
</section>


<section class="master-section-container">
  <div class="master-title-subtitle-button-container">
    <div class="master-title-subtitle-container">
      <h2>THE BARN COFFEE SUBSCRIPTIONS</h2>
      <p>Unsere Abos helfen, die Wertschöpfungskette des Kaffees zu verändern.
      Unser Kaffee wird von Qualität und Nachhaltigkeit angetrieben und schmeckt nicht ohne Grund besser.   </p>
  
    </div>
    <button class="button-main button-desktop"> ABOS ERKUNDEN </button>
  </div>

  <div class="master-content-container">
    <div class="content-box-triple"> 
      <img src="https://cdn.shopify.com/s/files/1/0831/4141/files/Ralf-coffee_1.jpg?v=1713252187" class="master-image" width=""; height=""; alt="">
      <div class="text-content-container">
        <h3>EIN EINZIGARTIGES GESCHMACKSERLEBNIS</h3>
        <br>
        <p>Wir arbeiten direkt mit den Erzeugern vor Ort zusammen und präsentieren die besten Kaffeearomen aus verschieden Ländern. Entdecke jeden Monat neue Kaffeeerlebnisse.</p>
      </div>
      <div class="arrow-right-container" ><h4>1/3</h4></div>
    </div>
    <div class="content-box-triple">
      <img src="https://cdn.shopify.com/s/files/1/0831/4141/files/ralf_roastery_a8082eac-5c87-4689-8242-1ead45739a4a.jpg?v=1713252184" class="master-image" width=""; height=""; alt="">
      <div class="text-content-container">
        <h3>UNSER CHARAKTERISTISCHES RÖSTPROFIL</h3>
        <br>
        <p>Unsere helle Röstung lässt das einzigartige Aroma deines Kaffees zur Geltung kommen. Wir liefern frisch auf Bestellung, mit reinem Geschmack in jeder Tasse.</p>
      </div>
      <div class="arrow-right-container" ><h4>2/3</h4></div>    </div>
    
    <div class="content-box-triple">
      <img src="https://cdn.shopify.com/s/files/1/0831/4141/files/Subscriptions_1.jpg?v=1713252186" class="master-image" width=""; height=""; alt="">
      <div class="text-content-container">
        <h3>MONATLICH ZU DEINER HAUSTÜR GELIEFERT</h3>
        <br>
        <p>Wir liefern in mehr als 50 Länder weltweit und arbeiten mit unseren Partnern zusammen, um sicherzustellen, dass dich dein Kaffee in bester Qualität erreicht.</p>
      </div>
      <div class="arrow-right-container" ><h4>3/3</h4></div>

    </div>
  </div>
  
  <div class="master-container-button-mobile">
    <button class="button-main button-mobile"> ABOS ERKUNDEN </button>
  </div>
</section>






{% schema %}
{
  "name": "custom abo section two ",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [

    {
      "type": "richtext",
      "id": "text_title_primary",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Hero Title"
    },
    {
      "type": "richtext",
      "id": "text_subtitle_primary",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Hero Subtitle"
    },
    {
      "type": "richtext",
      "id": "cta-main",
      "default": "<p>EXPLORE SUBSCRIPTIONS</p>",
      "label": "Call to Action"
    },
    {
      "type": "richtext",
      "id": "text_title_secondary",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Benefits Title"
    },
    {
      "type": "richtext",
      "id": "text_subtitle_secondary",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Benefits Subtitle 1"
    },
    {
      "type": "richtext",
      "id": "text_subtitle_secondary_2",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Benefits Subtitle 2"
    },
    {
      "type": "image_picker",
      "id": "ROASTERY_IMAGE_6",
      "label": "Benefits Image 1"
    },
    {
      "type": "text",
      "id": "ROASTERY_HEADING_2",
      "default": "Image with text",
      "label": "Benefits Image Title 1"
    },
    {
      "type": "richtext",
      "id": "ROASTERY_OPENING_2",
      "default": "<p>link your location</p>",
      "label": "Benefits Image Subtitle 1"
    },
    {
      "type": "image_picker",
      "id": "ROASTERY_IMAGE_3",
      "label": "Benefits Image 2"
    },
    {
      "type": "text",
      "id": "ROASTERY_HEADING_1",
      "default": "Image with text",
      "label": "Benefits Image Title 2"
    },
    {
      "type": "richtext",
      "id": "ROASTERY_OPENING_1",
      "default": "<p>link your location</p>",
      "label": "Benefits Image Subtitle 2"
    },
    {
      "type": "image_picker",
      "id": "IMAGE_003",
      "label": "Benefits Image 3"
    },
    {
      "type": "text",
      "id": "TITLE_003",
      "default": "Image with text",
      "label": "Benefits Image Title 3"
    },
    {
      "type": "richtext",
      "id": "SUBTITLE_003",
      "default": "<p>link your location</p>",
      "label": "Benefits Image Subtitle 3"
    },
    {
      "type": "richtext",
      "id": "text_title",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Review Title"
    },
    {
      "type": "richtext",
      "id": "text_subtitle",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Review Subtitle"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Review 1"
    },
    {
      "type": "richtext",
      "id": "text_1",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Review 2"
    },
    {
      "type": "richtext",
      "id": "text_2",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Review 3"
    },
    {
      "type": "richtext",
      "id": "text_title_2",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Past Coffees Title"
    },
    {
      "type": "richtext",
      "id": "text_subtitle_2_1",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "Past Coffees Subtitle"
    },
    {
      "type": "richtext",
      "id": "how_it_work_title",
      "default": "<p>link your location</p>",
      "label": "How It Work Title"
    },
    {
      "type": "richtext",
      "id": "how_it_work_subtitle",
      "default": "<p>link your location</p>",
      "label": "How It Work Subtitle"
    },
    {
      "type": "richtext",
      "id": "how_it_work_title_one",
      "default": "<p>link your location</p>",
      "label": "How It Work Title 1"
    },
    {
      "type": "richtext",
      "id": "how_it_work_subtitle_one",
      "default": "<p>link your location</p>",
      "label": "How It Work Subtitle 1"
    },
    {
      "type": "richtext",
      "id": "how_it_work_title_two",
      "default": "<p>link your location</p>",
      "label": "How It Work Title 2"
    },
    {
      "type": "richtext",
      "id": "how_it_work_subtitle_two",
      "default": "<p>link your location</p>",
      "label": "How It Work Subtitle 2"
    },
    {
      "type": "richtext",
      "id": "how_it_work_title_three",
      "default": "<p>link your location</p>",
      "label": "How It Work Title 3"
    },
    {
      "type": "richtext",
      "id": "how_it_work_subtitle_three",
      "default": "<p>link your location</p>",
      "label": "How It Work Subtitle 3"
    },
    {
      "type": "richtext",
      "id": "what_do_i_get_title",
      "default": "<p>link your location</p>",
      "label": "What Do I Get Title"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_one",
      "default": "<p>link your location</p>",
      "label": "What Do I Get 1?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_two",
      "default": "<p>link your location</p>",
      "label": "What Do I Get 2?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_three",
      "default": "<p>link your location</p>",
      "label": "What Do I Get 3?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_four",
      "default": "<p>link your location</p>",
      "label": "What Do I Get 4?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_five",
      "default": "<p>link your location</p>",
      "label": "What Do I Get 5?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_six",
      "default": "<p>link your location</p>",
      "label": "What Do I Get 6?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_seven",
      "default": "<p>link your location</p>",
      "label": "What Do I Get 7?"
    },

    {
      "type": "richtext",
      "id": "what_do_i_get_eight",
      "default": "<p>link your location</p>",
      "label": "What Do I Get 8?"
    },
    {
        "type": "richtext",
        "id": "text_title_6",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "FAQ Title"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }

  ],
  "blocks": [
    {
      "type": "collapsible_row",
      "name": "t:sections.collapsible_content.blocks.collapsible_row.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.label",
          "info": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.info"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.label"
        },
        {
          "type": "richtext",
          "id": "row_content",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.row_content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.page.label"
        }
      ]
    }
  ],
  
  "presets": [
    {
      "name": "custom abo section two"
    }
  ]
}
{% endschema %}
