@media screen and (min-width: 520px) {
  .card-information .caption {
    display: none;
  }
}


.card__50_50__grid{
    display: grid;
    grid-template-columns: 48% 48%;
    row-gap: 1vh;
    column-gap: 1vh;
    padding-bottom: 1vh;
    min-height :24px;
    height: fit-content;
    grid-template-areas: 
              "a b"
  }

  .card_tastnote_text{
      background-color: #24242400;
      text-transform: capitalize;
      text-align: center;
      font-size: 12px;
      width: 100%;
      padding: 3px 6px;
      min-height: 24px;

      border: 1px #ddd solid;
      border-radius: 40px;
    
      display: flex;
      justify-content:center;
      align-content:center;
      align-items: center;
      margin: 0px;   
    }

    .card_region_text{
      text-transform: capitalize;
      text-align: center;
      background-color: #363636;
      font-size: 12px;
      width: 100%;
      padding: 3px 0px;
      min-height: 24px; 
      height:fit-content;
      margin:0px; 
    }

    .card__heading {
      margin-top: 10px !important;
      margin-bottom: 0;
  }

    .card-information {
      width: 100%;
      margin-bottom: 5px !important;
  }


 .new_release_label{
  display: flex;
  font-family: 'Chalet Comprime';
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
  background-color: #ffffff;
  padding: 1.3rem;
  font-size: 1.7rem;
  color: #1c1d1c;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  text-align: center;
  line-height: 1.3rem;
  justify-content: center;
  align-items: center;
  }

  @media only screen and (max-width: 750px) {
    .new_release_label {
        font-size: 1.3rem;
        width: 5rem;
        height: 5rem;
    }
  }



  @media screen and (max-width: 520px) {
    .card_tastnote_text {
      display: none;
    }
    .card__50_50__grid {
      padding-bottom: 0;
      min-height: 0px;
    }
    .card__information {
      width: 100%;
      grid-row-start: 2;
      padding: 1.3rem 0.4rem;
      color: #fff;
    }
    .card__50_50__grid {
      grid-template-columns: 1fr 1fr;
      column-gap: 0.2rem;
    }
    .card--card .quick-add {
      min-width: 140px;
      margin: 0 0.4rem 0.4rem;
    }
  }





